/*---------- COLOR ----------*/
/*---------- FONT ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

/*---------- HELPER CLASS ----------*/
.btn {
  display: inline-block;
  border: none;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1.5rem 3.5rem;
  border-radius: 100px;
  box-shadow: 0 8px 15px #f8bfbf;
  cursor: pointer; }
  .btn:hover, .btn:active {
    background-image: linear-gradient(135deg, #ffebeb, #ffb8b8); }

/*---------- HERO INFO ----------*/
.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .hero .main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background: url("../images/bg-pattern-desktop.svg") no-repeat, linear-gradient(135deg, white, #fff5f5);
    background-size: cover;
    width: 42.5%;
    padding-left: 5.5%;
    padding-right: 7%; }
  .hero__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 8rem; }
    .hero__info .heading-h1 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 17px;
      font-size: 5rem;
      margin-bottom: 1.5rem; }
      .hero__info .heading-h1 span {
        font-weight: 300;
        color: #ce9797; }
  .hero__text {
    color: #ce9797;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 3rem; }
  .hero__img {
    width: 45%;
    min-height: 100vh;
    background-image: url("../images/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .hero .logo {
    width: 16rem;
    padding: 4rem 8rem;
    margin-top: 2rem;
    margin-bottom: 9rem; }
  .hero .mobile-img {
    display: none; }

/*---------- FORM ----------*/
#form {
  width: 100%; }
  #form .email__container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: relative; }
  #form .email {
    display: inline-block;
    height: 100%;
    width: Min(100%, 50rem);
    color: inherit;
    font-family: inherit;
    border-radius: 100px;
    border: 1px solid #b7aeae;
    padding-left: 2rem; }
  #form .btn {
    margin-left: -6rem; }
  #form .error-icon {
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -65%);
    display: none; }
  #form .notification {
    color: #ee8c8c;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    display: none; }
  #form.error .error-icon {
    display: block; }
  #form.error .notification {
    display: block; }
  #form.error input {
    border: 1.5px solid #f96262; }
  #form.success input {
    border: 1.5px solid #a0c5af; }

/*---------- FOOTER ----------*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: #b7aeae; }
  .attribution a {
    color: #ce9797; }

/*---------- 860px ----------*/
@media (max-width: 53.75em) {
  html {
    font-size: 56.25%; }
  body {
    background-image: none;
    background-color: #faf2f2;
    min-height: auto; }
  .hero {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    .hero .main {
      width: 100%;
      padding: 0; }
    .hero .mobile-img {
      display: block;
      width: 100%; }
    .hero .logo {
      width: 12rem;
      padding: 2rem 6rem 2rem 3rem;
      margin-bottom: 1rem; }
    .hero__img {
      display: none; }
    .hero__info {
      padding: 2rem 2rem; }
      .hero__info .heading-h1 {
        margin-top: 4rem;
        font-size: 4.5rem;
        margin-bottom: 2rem;
        text-align: center; }
      .hero__info .hero__text {
        width: 90%;
        text-align: center; }
      .hero__info #form {
        width: 85%; }
        .hero__info #form .error-icon {
          left: 57%; }
  .attribution {
    margin-top: 2rem; } }
