/*---------- COLOR ----------*/
/*---------- FONT ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  background: url("../images/bg-pattern-desktop.svg") no-repeat;
  background-size: cover; }

/*---------- HELPER CLASS ----------*/
.btn {
  display: inline-block;
  border: none;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1.5rem 3.5rem;
  border-radius: 100px;
  box-shadow: 0 8px 15px #f8bfbf;
  cursor: pointer; }
  .btn:hover, .btn:active {
    background-image: linear-gradient(135deg, #ffebeb, #ffb8b8); }

/*---------- HERO INFO ----------*/
.hero {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto 40% 40%;
  max-height: 80vh; }
  .hero__info {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    line-height: 1.2;
    width: Max(60%, 32rem);
    padding: 3rem 8rem; }
    .hero__info .heading-h1 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 17px;
      font-size: 4.5rem;
      margin-bottom: 1.5rem; }
      .hero__info .heading-h1 span {
        font-weight: 300;
        color: #ce9797; }
  .hero__text {
    color: #ce9797;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 3rem; }
  .hero__img {
    grid-column: 2 /-1;
    grid-row: 1 /-1;
    background-image: url("../images/hero-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat; }
  .hero .logo {
    width: 16rem;
    grid-column: 1 / 2;
    align-items: center;
    padding: 4rem 8rem; }

/*---------- FORM ----------*/
#form {
  width: 100%; }
  #form .email__container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: relative; }
  #form .email {
    display: inline-block;
    height: 100%;
    width: Min(100%, 50rem);
    color: inherit;
    font-family: inherit;
    border-radius: 100px;
    border: 1px solid #b7aeae;
    padding-left: 2rem; }
  #form .btn {
    margin-left: -6rem; }
  #form .error-icon {
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -70%);
    display: none; }
  #form .notification {
    color: #ee8c8c;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    display: none; }
  #form.error .error-icon {
    display: block; }
  #form.error .notification {
    display: block; }
  #form.error input {
    border: 1.5px solid #f96262; }
  #form.success input {
    border: 1.5px solid #a0c5af; }

/*---------- FOOTER ----------*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10rem;
  color: #b7aeae; }
  .attribution a {
    color: #ce9797; }

/*---------- 860px ----------*/
@media (max-width: 53.75em) {
  html {
    font-size: 56.25%; }
  body {
    background-image: none;
    background-color: #faf2f2; }
  .hero .logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 2rem 6rem; }
  .hero__img {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-image: url("../images/hero-mobile.jpg");
    background-size: 100%;
    height: Min(40vh, 25rem); }
  .hero__info {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    padding: 2rem 6rem; }
  .attribution {
    margin-top: 15rem; } }
