*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $font;
  font-weight: $fw-regular;
  display: flex;
  flex-direction: column;

  background: url("../images/bg-pattern-desktop.svg") no-repeat;
  background-size: cover;
}

/*---------- HELPER CLASS ----------*/

.btn {
  display: inline-block;
  border: none;
  background-image: linear-gradient(
    135deg,
    $color-linear-light-red,
    $color-linear-red
  );
  padding: 1.2rem 3.5rem;
  border-radius: 100px;
  box-shadow: 0 8px 15px $color-linear-light-red;
  cursor: pointer;

  &:hover,
  &:active {
    background-image: linear-gradient(
      135deg,
      $color-linear-white,
      $color-linear-white-2
    );
  }
}

.hidden {
  visibility: hidden;
}
