/*---------- HERO INFO ----------*/
.hero {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto 40% 40%;
  max-height: 80vh;

  &__info {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    line-height: 1.2;
    width: Max(60%, 32rem);
    padding: 3rem 8rem;

    .heading-h1 {
      text-transform: uppercase;
      font-weight: $fw-semi-bold;
      letter-spacing: 17px;
      font-size: 4.5rem;
      margin-bottom: 1.5rem;

      span {
        font-weight: $fw-light;
        color: $color-primary-desaturate;
      }
    }
  }

  &__text {
    color: $color-primary-desaturate;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  &__img {
    grid-column: 2 /-1;
    grid-row: 1 /-1;

    background-image: url("../images/hero-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo {
    width: 16rem;
    grid-column: 1 / 2;
    align-items: center;
    padding: 4rem 8rem;
  }
}

/*---------- FORM ----------*/
#form {
  width: 100%;

  .email__container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: relative;
  }

  .email {
    display: inline-block;
    height: 100%;
    width: Min(100%, 50rem);
    color: inherit;
    font-family: inherit;
    border-radius: 100px;
    border: 1px solid $color-primary-grahish-2;
    padding-left: 2rem;
  }

  .btn {
    margin-left: -6rem;
  }

  .error-icon {
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -70%);
    display: none;
  }

  .notification {
    color: $color-linear-red;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    display: none;
  }

  &.error {
    .error-icon {
      display: block;
    }

    .notification {
      display: block;
    }

    input {
      border: 1.5px solid $color-primary;
    }
  }

  &.success input {
    border: 1.5px solid rgb(160, 197, 175);
  }
}

/*---------- FOOTER ----------*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10rem;
  color: $color-primary-grahish-2;

  a {
    color: $color-primary-desaturate;
  }
}
