/*---------- HERO INFO ----------*/
.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background: url("../images/bg-pattern-desktop.svg") no-repeat,
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: cover;
    width: 45%;
    padding-left: 5.5%;
    padding-right: 7%;
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 8rem;

    .heading-h1 {
      text-transform: uppercase;
      font-weight: $fw-semi-bold;
      letter-spacing: 17px;
      font-size: 5rem;
      margin-bottom: 1.5rem;

      span {
        font-weight: $fw-light;
        color: $color-primary-desaturate;
      }
    }
  }

  &__text {
    color: $color-primary-desaturate;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  &__img {
    width: 42.5%;
    min-height: 100vh;
    background-image: url("../images/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logo {
    width: 16rem;

    padding: 4rem 8rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
  }

  .mobile-img {
    display: none;
  }
}

/*---------- FORM ----------*/
#form {
  width: 100%;

  .email__container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: relative;
  }

  .email {
    display: inline-block;
    height: 100%;
    width: Min(100%, 50rem);
    color: inherit;
    font-family: inherit;
    border-radius: 100px;
    border: 1px solid $color-primary-grahish-2;
    padding-left: 2rem;
  }

  .btn {
    margin-left: -6rem;
  }

  .error-icon {
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -70%);
    display: none;
  }

  .notification {
    color: $color-linear-red;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    display: none;
  }

  &.error {
    .error-icon {
      display: block;
    }

    .notification {
      display: block;
    }

    input {
      border: 1.5px solid $color-primary;
    }
  }

  &.success input {
    border: 1.5px solid rgb(160, 197, 175);
  }
}

/*---------- FOOTER ----------*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: $color-primary-grahish-2;

  a {
    color: $color-primary-desaturate;
  }
}
